*{
    margin: 0;
    padding: 0;
    font-family: initial;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.body{
    display: flex;
    flex-direction: row;
}

a, a:link, a:visited, a:hover, a:active, a:visited:hover {
    text-decoration:none;
}
.div-nav{
    position: absolute;
    height: 100vh;
    z-index: 1;
}
.nav-section{
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #282828;
    padding-top: 120px;
    border-right: 2px solid #2a2b2f;
}
.nav-item{
    margin-left: 30px;
    animation-fill-mode: forwards;
    margin-top: 40px;
    box-shadow: -2px 5px 37px #fff;
    font-size: 18px;
}
.nav-link{
    margin-top: 4px;
    color: black;
}
.nav-link:hover{
    color: black;
}
.imgNavLink{
    position: absolute;
    z-index: -1;
}
.nav-item:hover{
    animation: scroll .5s 1;
    animation-fill-mode: forwards;
}

@keyframes scroll{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(50%);
    }
}
.cornerImgRight{
    top: 30px;
    position: absolute;
    width: 50%;
    z-index: -1;
    right: 0;
}
.cornerImgLeft{
    bottom: 0;
    left: 30px;
    position: absolute;
    width: 50%;
    z-index: -1;
}
.imgIcon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.icon{
    margin-top: 15px;
}
.div-title .main-title{
    display: block;
}
.main-section{
    margin-left: 150px;
}
.main-image{
    width: 10%;
    animation: rotate 3s forwards;
    border-bottom: 3px solid black;
    border-radius: 15px;
}
@keyframes rotate{
    0%{
        filter: blur(5px);
    }
    100%{
        transform: rotate(360deg);
    }

}
.main-title{
    color: black;
    font-size: 5vw;
    font-weight: 800;
    letter-spacing: 8px;
    background: white;
    margin-bottom: 30px;
    position: relative;
    animation: text 3s 1;
    animation-fill-mode: forwards;
    overflow: hidden;
    text-shadow: 10px 7px #b2c4d0;
}
.title{
    color: #000;
    font-size: 80px;
    font-weight: 800;
    letter-spacing: 8px;
    margin-bottom: 15px;
    text-transform: uppercase;
    display: block;
    text-shadow: 10px 6px #d3d3d3;
}
@keyframes text{
    0%{
        color: black;
        margin-bottom: -100px;
        filter: blur(5px);
        z-index: 2;
    }
    30%{
        letter-spacing: 20px;
        margin-bottom: -100px;
        z-index: 2;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -100px;
        z-index: 2;
    }
}

.resume-title{
    font-size: 1.6vw;
    padding: 15px;
}

.hr{
    border: 2px solid red;
    width: 60%;
    margin: auto;
    padding: auto;
    margin-bottom: 20px;
}
.content-resume{
    animation: azerty 5s forwards;
}
@keyframes azerty{
    0%{
        color: #fff;
    }
    100%{
        color: #000;
    }
}

.div-resume .resume-title{
    text-transform: uppercase;
    display: block;
    overflow: hidden;
}

.resume-title{
    font-size: 18px;
    padding: 15px;
    animation: textResume 3s 1;
    animation-fill-mode: forwards;
}
@keyframes textResume{
    0%{
        color: black;
        margin-bottom: -120px;
    }
    30%{
        margin-bottom: -120px;
    }
    85%{
        margin-bottom: -120px;
    }
    100%{

    }
}
.main-button{
    padding: 15px;
}



.main-button{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
}
.discover-button{
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #2a2b2f;
    padding: 15px 25px;
}
.discover-button:hover{
    text-decoration: none;
    color: black;
}
.main-button::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    transform: translate(3%, -11%);
    background: transparent;
    border: 2px solid transparent;
    text-decoration: none;
}
.main-button:hover:before{
    animation: animate 1s linear forwards;
}
@keyframes animate{
    0%{
        width: 0;
        height: 0;
        border-top-color: #000;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        
    }
    50%{
        width: 200px;
        height: 0;
        border-top-color: #000;
        border-right-color: #000;
        border-bottom-color: transparent;
        border-left-color: transparent;
        
    }
    100%{
        width: 200px;
        height: 60px;
        border-top-color: #000;
        border-right-color: #000;
        border-bottom-color: transparent;
        border-left-color: transparent;
        z-index: -1;
    }
}




.main-button::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    transform: translate(-105%, -24%);
    background: transparent;
    border: 5px solid transparent;
    
}
.main-button:hover:after{
    animation: animate2 1s linear forwards;
}
@keyframes animate2{
    0%{
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: #000;
        
    }
    50%{
        width: 200px;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #000;
        border-left-color: #000;
        
    }
    100%{
        width: 200px;
        height: 60px;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #000;
        border-left-color: #000;
        text-decoration: none;
        z-index: -1;
    }
}










.container-section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    text-align: center;
    padding-top: 220px;
}
.container-section-card{
    position: relative;
    width: 100%;
    overflow: auto;
    text-align: center;
    padding-left: 160px;
    padding-top: 220px;
}
.content-main-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
}
.container-section .section{
    position: relative;
    width: 100%;
    height: 100%;
}

.main-container{
    text-align: center;
    position: relative;
}
.main-imgBox{
    position: relative;
}
.main-imgBox img{
    position: absolute;
    top: -242px;
    left: -81px;
    z-index: 1;
}
.portfolio-container{
    background-color: #232427;
}

.container-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 490px;
    margin: 40px 0;
    
}
.container-card .card{
    position: relative;
    min-width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
    inset -5px -5px -5px rgba(255,255,255,0.1),
    5px 5px 15px rgba(0,0,255,0.3),
    -5px -5px 15px rgba(255,255,255,0.3);
    border-radius: 15px;
    margin: 30px;
}
.container-card .card .box{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #2a2b2f;
    border: 2px solid #1e1f23;
    border-radius: 15px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-card .card .box:hover{
    transform: translateY(-50px);
    box-shadow: 0 40px 70px rgba(0,0,0,0.5);
}

.container-card .card .box .content-card{
    padding: 20px;
    text-align:center;
}
.container-card .card .box .content-card h2{
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8em;
    color: rgba(255,255,255,0.05);
}
.container-card .card .box .content-card h3{
    font-size: 1.8em;
    color: rgba(255,255,255,0.5);
    z-index: 1;
    transition:0.5s;
}
.container-card .card .box .content-card p{
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,0.5);
    z-index: 1;
    transition:0.5s;
}
.container-card .card .box .content-card a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #fff;
    margin-top: 15px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: 400;
    color: #000;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    background: #858585;
}

.card-button:hover{
    position: relative;
    animation: button 1s 1;
    animation-fill-mode: forwards;
}
@keyframes button{
    0%{
        background: #858585;
    }
    25%{
        background: #c0c0c0;
    }
    50%{
        background: #d3d3d3;
    }
    100%{
        background: #ffffff;
    }
}
.link{
    position: relative;
    width: 100%;
    border-width: 0%;
    border-radius: 15px;
    width: 100%;

}

.imgSkills{
    width: 25%;
    margin-top: 120px;
}



